
#rockButton, #paperButton, #scissorsButton, #wellButton {
    -fx-background-size: cover;
    -fx-background-color:transparent;

}

#rockButton:hover, #paperButton:hover, #scissorsButton:hover, #wellButton:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

#rockButton { -fx-background-image: url("./pictures/Rock.png"); }

#paperButton { -fx-background-image: url("./pictures/Paper.png"); }

#scissorsButton { -fx-background-image: url("pictures/Scissors.png"); }

#wellButton { -fx-background-image: url("pictures/brunnen.png"); }



#musicChoiceBox{
    -fx-font-family: "Berlin Sans FB", SansSerif;
    -fx-font-size: 15px;
    -fx-background-color: rgb(67, 103, 99);
    -fx-background-radius: 12;
    -fx-border-style: bold;
    -fx-border-radius: 12;
    -fx-border-color: #282848;
    -fx-pref-width: 185px;
}


#RockPaperScissorsAnchorpane{
    -fx-background-color: #82c9c0;
}