
#rockButton, #paperButton, #scissorsButton, #wellButton {
    -fx-background-size: cover;
    -fx-background-color:transparent;

}

#rockButton:hover, #paperButton:hover, #scissorsButton:hover, #wellButton:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

#rockButton { -fx-background-image: url("./pictures/Rock.png"); }

#paperButton { -fx-background-image: url("./pictures/Paper.png"); }

#scissorsButton { -fx-background-image: url("pictures/Scissors.png"); }

#wellButton { -fx-background-image: url("pictures/brunnen.png"); }

#displayWinner {
    -fx-font-family: "Orbitron", "Exo", "Audiowide", "Oxanium", "Quantico", "Titillium Web", "Space Grotesk", "Rajdhani";
    -fx-font-size: 28px;
    -fx-text-fill: #00eaff;     /* neon sci-fi color */
    -fx-effect: dropshadow(gaussian, #00eaff, 10, 0.3, 0, 0);
}

#MusicPlayerLabel{
    -fx-font-family: "Gill Sans MT Condensed", bold;
    -fx-font-size: 28px;
}

#musicChoiceBox{
    -fx-font-family: "Berlin Sans FB", SansSerif;
    -fx-font-size: 15px;
    -fx-background-color: rgb(67, 103, 99);
    -fx-background-radius: 12;
    -fx-border-style: solid;
    -fx-border-radius: 12;
    -fx-border-color: #282848;
    -fx-pref-width: 185px;
}


#RockPaperScissorsAnchorpane{
    -fx-background-color: #82c9c0;
}