#rockButton {
    -fx-background-image: url("./pictures/Rock.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#paperButton {
    -fx-background-image: url("./pictures/Paper.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#scissorsButton {
    -fx-background-image: url("pictures/Scissors.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#wellButton {
    -fx-background-image: url("pictures/brunnen.png");
    -fx-background-size: cover;
    -fx-background-color:transparent;
}

#RockPaperScissorsAnchorpane{
    -fx-background-color: #99ebff;
}